In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
ms = pd.read_csv('/Users/danielw.y.fong/Documents/Coding/Finance/Data/microsoft2014-2018d.csv')

This imports a daily dataset for microsoft stock between around 2014 to 2018, just used as an example.

The idea behind this is to consider a strategy based upon fading a move for a given timeframe, due to this being a small dataset we are simply going to demo the algo using the following parameters:

1. Pick Close price for end of the month, basing the direction of the move on the previous 5 day difference between the datasets (e.g. Day 25 and 30 of the month).
2. Set a time interval for the hold period of the move, e.g. hold for 1, hold for 2 days etc.. And compute the difference between the prices to see what the change would be.
3. Next scatter plot the size of the change in 5 day price for each month and then sort add a price diff category based on the size of the change in price.
5. Based on the direction, which is either going to be +1 or -1, multiply that direction by the -hold price diff, and do so for each time period, resulting in a holdProfit1, holdProfit2 etc.
6. Visualize your results

In [6]:
ms.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
1  2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2  2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
3  2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
4  2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

In [7]:
ms['Date'] = pd.to_datetime['Date']

TypeError: 'function' object is not subscriptable

In [8]:
ms['Date'].type()

AttributeError: 'Series' object has no attribute 'type'

In [9]:
ms['Date'].dtype()

TypeError: 'numpy.dtype' object is not callable

In [11]:
ms = pd.DataFrame(ms)

In [12]:
ms.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
1  2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2  2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
3  2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
4  2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

In [18]:
ms.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [19]:
ms["no_year"] = ms['Date'].map(lambda x: x.strftime("%m-%d"))

AttributeError: 'str' object has no attribute 'strftime'

In [20]:
ms['Date'].head()

0    2014-12-31
1    2015-01-02
2    2015-01-05
3    2015-01-06
4    2015-01-07
Name: Date, dtype: object

In [23]:
ms['Date']=pd.to_datetime(ms['Date'])

In [24]:
ms['Date'].dt.is_month_start.head()

0    False
1    False
2    False
3    False
4    False
Name: Date, dtype: bool

In [37]:
ms['EoMPriceDiff'] = [ms.loc[ei,'Open']-ms.loc[ei-5, 'Open'] if ms.loc[ei, 'Date'].month != ms.loc[ei+1, 'Date'] else 0 for ei in range(5,len(ms)-5)]

ValueError: Length of values (770) does not match length of index (780)

In [32]:
ms['Date'][0].month

12

In [31]:
ms['Date'][0].dt.month

AttributeError: 'Timestamp' object has no attribute 'dt'